body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#circle {
    border: 10px solid white;
    border-radius: 50%;
    width: 90vmin;
    height: 90vmin;
    display:inline-block;   
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

#entry {
    width: 100%;
    height: 100%;
}

div[contenteditable] {
    background-color: transparent;
    color: white;
    opacity: 1; 
    border: none;
    text-align: center;
    font-family: Consolas;
    font-size: calc(2px + 2vmin); /* Adjust as needed */
    width: 70vmin; 
    height: 70vmin; 
    outline: none;
    resize: none; 
    overflow: auto; 
    white-space: normal; 
    word-wrap: break-word; 
    box-sizing: border-box; 
    position: absolute;
    z-index: 2;
    border-radius: 50%; 
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* If the viewport width is 600px or less, decrease the font size and adjust the width and height */
@media (max-width: 600px) {
    div[contenteditable] {
        font-size: 2.5vw; /* Adjust as needed */
        width: 80vmin;
        height: 80vmin;
    }
}

/* If the viewport width is 400px or less, decrease the font size even more and adjust the width and height */
@media (max-width: 400px) {
    div[contenteditable] {
        font-size: 2vw; /* Adjust as needed */
        width: 90vmin;
        height: 90vmin;
    }
}